<!-- templates/admin_dashboard.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">ID</th>
                <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Username</th>
                <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Photo</th>
                <th style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">Mobile Number</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">{{ user['id'] }}</td>
                    <td style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">{{ user['username'] }}</td>
                    <td style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;"><img src="{{ url_for('static', filename='/photos/' + user['photo']) }}" alt="User Photo" style="width: 100px; border-radius: 50%;"></td>
                    <td style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">{{ user['mobile_number'] }}</td>
                    <td style="padding: 12px; text-align: left; border-bottom: 1px solid #ddd;">
                        <!-- Actions -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
